<% include ../partials/header %>


<div class='article'>
  <div class="mt-5 pt-4">
    <div class="row">

      <div class="col 3"></div>

      <div class="col-4">

        <div class="content-section">
          <% movies.forEach((movie) => { %>
  					<div class='row mb-5'>
  						<div class="card postcard">
  							<div class='card-header'>
                  <a href="/users/<%= movie.author.id %>">
                    <%= movie.author.username %>
                  </a>
                </div>
  							<div class="d-flex justify-content-center">
  								<img class="movie-img" src="<%= movie.image %>" alt="Card image cap">
  							</div>
  							<p class='card-text'>
                  <form action="/movies/<%= movie._id %>/like" method="POST">
                    <div class="btn-group">
                      <% if (currentUser && movie.likes.some((like) => {
                        return like.equals(currentUser._id)
                      })) { %>
                        <button type="submit" class="fabutton">
                          <i class="fas fa-heart fa-2x"
                            style="color: red;"
                          >
                          </i>
                        </button>
                      <% } else { %>
                        <button type="submit" class="fabutton">
                          <i class="far fa-heart fa-2x"
                            style="color: grey;"
                          >
                          </i>
                        </button>
                      <% } %>
                      <a href="/movies/<%= movie._id %>">
                        <i class="far fa-comment fa-2x" style="color: grey"></i>
                      </a>
                    </div>
                </form>

                <div>
                  <% if (movie.likes.length === 0) { %>
                    <p style="margin-left: 1rem">
                      No Likes Yet
                  <% } else if (movie.likes.length === 1) { %>
                    <p style="margin-left: 1rem">
                      Liked By
                      <a href="/users/<%= movie.author.id %>" style="color: black;">
                        <strong>
                          <%= movie.likes[0].username %>
                        </strong>
                      </a>
                    </p>
                  <% } else { %>
                    <p class='card-text' style="margin-left: 1rem; margin-top: .5rem;">
                      Liked By
                      <a href="/users/<%= movie.author.id %>" style="color: black;">
                        <strong>
                          <%= movie.likes[0].username %>
                        </strong>
                      </a>
                      and
                      <button
                        type="button" class="btn btn-sm btn-default"
                        data-toggle="modal" data-target="#movieLikes"
                        style="padding: 0; margin-bottom: 3px; font-size: 1rem;"
                      >
                      <strong>
                        <%= movie.likes.length - 1 %> more
                      </strong>
                      </button>
                    </p>
                  <% } %>
                </div>

                

  							</p>
  						</div>
  					</div>

            <!-- Modal -->
            <div class="modal fade" id="movieLikes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Movie likes: <%= movie.likes.length %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>Liked by:</th>
                      </tr>
                      </thead>
                      <tbody>
                      <% movie.likes.forEach((like) => { %>
                        <tr>
                          <td><span class="badge"><i class="fas fa-user"></i></span> <%= like.username %></td>
                        </tr>
                      <% }); %>
                      <% if (movie.likes.length === 0) { %>
                        <tr>
                          <td><em>No likes yet.</em></td>
                        </tr>
                      <% } %>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>



  				<% }); %>
        </div>
      </div>

      <div class="col-3">

        <div class="sidebar-main">
          <div class="make-me-sticky">

            <div class='row ml-2'>
              <div class='col-3'>
                <img
                  src='https://pngimage.net/wp-content/uploads/2018/05/default-user-profile-image-png-2.png'
                  id = 'user-image'
                >
              </div>
              <div class='col-9 px-0'>

                <% if (!currentUser) { %>
    							<div>
    								No user <a href='/login'>Login</a>
    							</div>
    							<% } else { %>
    							<div>
    								<p class='my-0'><%= currentUser.fullName %></p>
                    <p class='mb-1 text-secondary'><%= currentUser.username %></p>
    							</div>
    						<% } %>

              </div>
            </div>

            <div class="card mx-4 my-2" style="width: 17rem;">
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Stories</h6>
                <p class="card-text">Story Section Coming Soon!</p>
              </div>
            </div>

            <div class="card mx-4 my-2" style="width: 17rem;">
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Suggestions For You</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

          </div>
        </div>


      </div>

      <div class="col-2"></div>

    </div>
  </div>
</div>



<% include ../partials/footer %>
