<% include ../partials/header %>

<div id='show-div' class=''>
	<div id='show-row' class="row" >
		<div class="col-2"></div>

		<div class="col-8">
			<div class="card-group">

				<div class="card show-card">
					<img class="movie-img card-img-top" src="<%= movie.image %>">
				</div>

				<div class="card">
					<div class="card-header">
						<%= movie.author.username %>
					</div>
					<p class='card-header'><%= movie.description %></p>
					<div class="card-body">
						<% movie.comments.forEach(function(comment){ %>
							<div class='container'>
								<div class="row">
									<div class="col-md-12">
										<div class='card-title'>
											<strong>
												<%= comment.author.username %>
											</strong>
											<% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
												<span class="float-right">
													<form
														action='/movies/<%= movie._id %>/comments/<%= comment._id %>?_method=DELETE'
														class="delete-form" method="POST"
													>
						                <button class="btn btn-xs btn-danger">DELETE</button>
						              </form>
												</span>
											<% } %>
											<span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
										</div>
										<div class='card-text'>
											<div class='card-text'>
												<p>
													<%= comment.text %>
												</p>
												<hr>
											</div>
										</div>
									</div>
								</div>
							</div>
						<% }) %>
					</div>
						<div class="card-text">
							<form action='/movies/<%= movie._id %>/comments' method='POST'>
								<input id='new-comment'
									class="form-control" type="text"
									placeholder="Add a comment..."
									name="comment[text]" autocomplete="off"
								>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="col-2"></div>
	</div>
</div>
