<% include ../partials/header %>

<div id='show-div' class=''>
	<div id='show-row' class="row" >
		<div class="col-2"></div>

		<div class="col-8">
			<div class="card-group">

				<div class="card show-card">
					<img class="movie-img card-img-top" src="<%= movie.image %>">
				</div>

				<div class="card">
					<div class="card-header">
						<%= movie.author.username %>
					</div>
					<p class='card-header'><%= movie.description %></p>
					<div class="card-body">
						<% movie.comments.forEach(function(comment){ %>
							<div class='container'>
								<div class="row">
									<div class="col-md-12">
										<div class='card-title'>
											<strong>
												<%= comment.author.username %>
											</strong>
											<% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
												<span class="float-right">
													<form
														action='/movies/<%= movie._id %>/comments/<%= comment._id %>?_method=DELETE'
														class="delete-form" method="POST"
													>
						                <button class="btn btn-xs btn-danger">DELETE</button>
						              </form>
												</span>
											<% } %>
											<span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
										</div>
										<div class='card-text'>
											<div class='card-text'>
												<p>
													<%= comment.text %>
												</p>
												<hr>
											</div>
										</div>
									</div>
								</div>
							</div>
						<% }) %>
					</div>
						<div class="card-text">
							<form action='/movies/<%= movie._id %>/comments' method='POST'>
								<input id='new-comment'
									class="form-control" type="text"
									placeholder="Add a comment..."
									name="comment[text]" autocomplete="off"
								>
							</form>
						</div>
					</div>
					<button
						type="button" class="btn btn-sm btn-default"
						data-toggle="modal" data-target="#movieLikes"
					>
						See more details
					</button>

				</div>
			</div>
		</div>

		<div class="col-2"></div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="movieLikes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Movie likes: <%= movie.likes.length %></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Liked by:</th>
					</tr>
					</thead>
					<tbody>
					<% movie.likes.forEach((like) => { %>
						<tr>
							<td><span class="badge"><i class="fas fa-user"></i></span> <%= like.username %></td>
						</tr>
					<% }); %>
					<% if (movie.likes.length === 0) { %>
						<tr>
							<td><em>No likes yet.</em></td>
						</tr>
					<% } %>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>
